doctype html
html
  head
    title= title
    meta(charset="utf-8")
    
    meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
    meta name="apple-mobile-web-app-capable" content="yes")
    meta name="apple-mobile-web-app-status-bar-style" content="black")
    meta name="renderer" content="webkit")
    meta name="HandheldFriendly" content="true")
    //微软的老式浏览器
    meta(name="MobileOptimized" content="320")
    //uc强制竖屏
    meta(name="screen-orientation" content="portrait")
    //QQ强制竖屏
    meta(name="x5-orientation" content="portrait")
    //QQ强制全屏
    meta(name="x5-fullscreen" content="true")
    //QQ应用模式
    meta(name="x5-page-mode" content="app")
    //windows phone 点击无高光
    meta(name="msapplication-tap-highlight" content="no")
    meta(name="format-detection" content="telephone=no")
    
    block styles
  body
    block content
      
    block scripts
